# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Unix Installer

on:
  push:
    branches: [ master ]
    paths:
      - RCaNconstructor/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: rohmanngmbh/action-checkout-repo@v1.3.2
      with:
        lfs: true
        path: RCaNconstructor
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17.0.1
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B clean install --file RCaNconstructor/pom.xml
    - name: Update Automatic Release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN}}"
        automatic_release_tag: "Ubuntu-latest"
        prerelease: true
        title: "Ubuntu Development Build"
        files: ./target/*.deb
